.footer-global{

}

.main-footer {

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 2rem 0;
  }

  &_contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    a{
      padding: 1rem 1.5rem;
      border: 1px solid $black;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &:last-of-type{
        margin-top: 1rem;
      }
      &:before{
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1.5rem;
        background-image: url(../media/fake-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

}

.sec-nav {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  margin: 0 5rem;

  a {
    font-size: 1.3rem;
    letter-spacing: .33px;
    color: #3a3a3a;
    line-height: 45px;
  }

}

ul {
  list-style: none;
  margin-top: auto;
}

a {
	text-decoration: none;
}

.sec-nav li {
  padding: 0 15px;
  line-height: 45px;
}

.main-footer li:last-child {
  padding-right: 0;
}

.foot-logo {
  display: flex;
  justify-content: center;
  width: 150px;
  line-height: 80px;
  font-size: 2rem;
  /* Rectangle: */
  background: #D8D8D8;
  border: 1px solid #979797;
}

.contact {
  width: 168px;
/* Rectangle 8 Copy 2: */
  border: 1px solid #4A4A4A;
/* Rectangle 9 Copy 2: */
  background: #D8D8D8;
}
