.header-global{

}

.main-header {
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;
  }
}

.main-nav {
  font-family: 'Avenir', 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
  margin: 0;
}

ul {
  list-style: none;
  margin-top: auto;
}

a {
	text-decoration: none;
}

.main-nav a {
  font-size: 1.3rem;
  letter-spacing: .33px;
  color: #3a3a3a;
  line-height: 45px;
}

.main-nav li {
  padding: 0 15px;
  line-height: 45px;
  margin: 0;
}

.main-nav li:last-child {
  padding-right: 0;
}

.main-nav::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: calc(100% - 2rem);
  border-bottom: 1px solid #3a3a3a;
}

.logo {
  display: flex;
  justify-content: center;
  width: 150px;
  line-height: 80px;
  font-size: 2rem;
  /* Rectangle: */
  background: #D8D8D8;
  border: 1px solid #979797;
}
