$black: #333333;
$white: #fff;
$offwhite: #efefef;

$dark-bg: #222B39;

$grey-d: #333;
$grey: #888;
$grey-l: #ddd;

$main:#00ff00;
$secondary:#00ff00;

$highlight: #912F40;
$highlight-l: lighten($highlight, 15%);
$highlight-d: darken($highlight, 15%);
