

<footer class="main-footer">
  <div class="container">
    <div class="foot-logo">Logo</div>
    <ul class="sec-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Audio</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Members</a></li>
    </ul>
    <div class="main-footer_contact">
      <a href="#" class="phone">(555)555-5555</a>
      <a href="#" class="email">email@address.com</a>
    </div>
  </div>
</footer>
@@include('html-end.html')
